@import './reset.css';

.container {
  width: 960px;
  margin: 30px auto;
  padding: 25px;
  box-shadow: 1px 1px 5px, -1px -1px 5px;
}

h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: steelblue;
}

ul li {
  list-style-type: none;
  color: #ff0000;
  margin: 10px 0;
}

.input {
  margin: 5px 0;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #eee;
  width: 80%;
}

input[type="date"].input {
  padding: 13px 15px 12px;
  color: #787878;
}

.input:focus {
  border: 2px solid deepskyblue;
}

.btn {
  padding: 10px 25px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;
  border-color: #787878;
}

.error {
  border: 1px solid #ff0000;
}

.valid {
  border: 2px solid #008000;
}

.step1,
.step2,
.step3 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.step2,
.step3 {
  visibility: hidden;
}

.btn.btn-next {
  float: right;
  margin-right: 30px;
}

.hide {
  visibility: hidden;
}

.active {
  visibility: visible;
}

.country,
.gender {
  font-size: 16px;
  padding: 15px;
  margin: 5px 0 6px;
  width: 91%;
}

.container h2 {
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
}

.styled {
  width: 300px;
  margin: 0 auto;
  padding: 30px 0;
}

.styled div {
  font-size: 20px;
  margin: 5px 0;
}

::-webkit-input-placeholder {color:#787878;}
::-moz-placeholder          {color:#787878;}
:-moz-placeholder           {color:#787878;}
:-ms-input-placeholder      {color:#787878;}

.input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}
