html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}.container {
  width: 960px;
  margin: 30px auto;
  padding: 25px;
  box-shadow: 1px 1px 5px, -1px -1px 5px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

ul li {
  list-style-type: none;
  color: #ff0000;
  margin: 10px 0;
}

.input {
  margin: 5px 0;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #eee;
  width: 80%;
}

input:focus {
  border: 2px solid deepskyblue;
}

.btn {
  padding: 10px 25px;
  cursor: pointer;
}

.error {
  border: 1px solid #ff0000;
}

.valid {
  border: 2px solid #008000;
}

.step1,
.step2,
.step3 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

/*.step2,
.step3 {
  visibility: hidden;
}*/

.btn.btn-next {
  float: right;
  margin-right: 30px;
}

/*.step2 {
  display: none;
}*/
.hide {
  visibility: hidden;
}

.active {
  visibility: visible;
}

#country {
  font-size: 16px;
  padding: 15px;
  margin-top: 5px;
}

/*# sourceMappingURL=app-9f76eae49d7e986703d6.css.map*/